.skills{
    margin:  50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills h1{
    margin-bottom: 20px;
}
.skills-container{
    background-color: black;
    /*display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    width: 100%;*/
    box-shadow: 0.1px 0.3px 10px rgb(50, 48, 48);
    padding:  30px ;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
}


/*.logo{
    width: 60px;
}
.css,.github{
    width: 75px;
}

.java{
    width: 80px;
}
.logo:hover{
    filter: none;
}*/