
.hero {
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 8rem;
    min-width: 320px; /* Example min-width value, adjust as needed */
}

.hero-profile-img {
    width: 15rem;
    margin-right: 3rem;
}
.hero-text {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text h2{
    font-size: 35px;
}
.hero-text h3{
    font-size: 25px;
    color: gray;
}
.hero-btns{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    column-gap: 10px;
}
.hero-btns button{
    height: auto;
    margin-right: 5px;
    
}

.links{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
@media (max-width: 768px) {
    .hero {
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: column;
        -ms-flex-order: 1;
    }

    .hero-profile-img {
        width: 10rem;
        margin-right: 2rem;
        order: -1;
        align-items: center;
    
    }

    .hero-text {
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {
    .hero {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hero-profile-img {
        width: 8rem;
        margin-right: 1rem;
    }

    .hero-text {
        margin-top: 0.5rem;
    }
}