*{
    margin: 0;
    padding: 0;
    
}
.app{
    overflow-x: hidden;
    color: white;
    background-color: #030811;
    /*background: linear-gradient(to bottom, #000000, #00
    008B);*/
}
button{
    
}
#root{
    margin: 0;
}
.dark-white-effect{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
    transform-origin: center center;
}
.dark-white-effect:hover{
    filter: none;
    transform: scale(1.1);
}

.zoom-effect{
    transition: filter 0.3s ease, transform 0.3s ease;
    transform-origin: center center;
    appearance: none;
    background-color: transparent;
    
  
}
.zoom-effect:hover{
    transform: scale(1.3);
    filter: none;
}
