.about-me-content{
    overflow-x: visible;
    position: relative;
    margin-top: 1.25rem; /* 20px converted to rem */
    border-radius: 0.625rem; /* 10px converted to rem */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.section-title{
    margin-bottom: 2.5rem; /* 40px converted to rem */
    margin-left: 3.75rem; /* 60px converted to rem */
    font-size: 2.1875rem;
}
.about-me-text {
    padding: 3.125rem 3.25rem; /* 50px and 100px converted to rem */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0.00625rem 0.01875rem 0.3125rem 0.1875rem rgb(65, 64, 64);
    row-gap: 1.875rem;
    
}
.about-me-profile-img{
    height: 31.25rem; 
    width: 18.75rem; 
    margin-left: 1.875rem; 
    border-radius: 0.625rem; 
    z-index: 1;
}

.about-me-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    margin-bottom: 30px;
}

.about-me-highlight p{
    overflow-x: visible;
    font-size: 16px;
    text-indent: 15px;
}

 
 .about-me-highlight:hover{
    box-shadow: 0.1px 0.3px 5px 3px rgb(65, 64, 64);
 }
 .about-me-paragraph{
    overflow-y: hidden;
    height: auto;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    
  }

.about-me-highlights{
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.highlight{
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 260px;
   height: 200px;
}
.about-me-highlight{
    overflow-x: visible;
    height: 30px;
    margin: 10px;
     background: #282828;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    padding: 20px;

}
.grade-text {
    margin-left: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color:#348bdd ;
    transition: color 0.3s ease; 
    font-size: 1.2em; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}
.about-me-highlight b{
    overflow-x: visible;
    font-size: 20px;
}
.about-me-btns{
    display: flex;}
.about-me-btns button{
    width: 200px;
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}





  @media only screen and (max-width: 960px) {
 .about-me-content {
        flex-direction: column;
        padding: 10px;
    }   
.about-me-text{
    padding-right: 10px;
    padding-top: 30px;
    margin-top: 30px;
    height: 380px;
}

.about-me-highlight{
    height: 30px;
    flex-direction: column;
}
.about-me-paragraph {
    max-width: 600px;
}
@media  (max-width: 732px) {
    .about-me-btns{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .about-me-text{
        min-height: 450px;
    }
    
    .about-me-btns button{
        width: 150px;
        height: 80px;
        display: flex;
        column-gap: 15px;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
    }
    .about-me-paragraph{
        min-height:auto;
    }
    
.about-me-highlights{
    flex-direction: column;
}
.btn-download-img{
    visibility: hidden;
    width: 0;
}
}
@media  (max-width: 532px) {
    .about-me-text {
        padding: 0.5rem 1rem;
        height: auto;
    }
    .about-me-profile-img {
        height:20rem;
        width: 12.5rem; /
    }
 
}

@media only screen and (max-width: 375px) {
    .section-title {
        font-size: 1.5rem; 
        margin-left: 2.5rem;  
    }
    .about-me-text {
        padding: 0.25rem 0.5rem; 
    }
    .about-me-profile-img {
        height: 15.625rem;
        width: 10rem; 
    }
    .about-me-highlight{
        overflow-x: visible;
        height: 30px;
        margin: 10px;
         background: #282828;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 5px;
        padding: 20px;
    
    }
}
}
